<input type="hidden" id="score" value="<%= score %>" />
<input type="hidden" id="bscore" value="<%= Bscore %>" />
<div class="resultRoot">
  <center><h2 class="gameName">Tappy Ball</h2></center>
  <div class="resultCard">
    <h2><%= name %></h2>
    <h1 style="margin: 8px;">Score: <%= score %></h1>
    <h2 style="margin: 8px;">Best: <%= Bscore %></h2>
  </div>
</div>
